<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Microscopy Hardware Control</span>
  <span class="spacer"></span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <mat-list-item (click)="getDevice()">
        <mat-icon>refresh</mat-icon>
        <span>Refresh</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-container>
      <ng-template #appDevice></ng-template>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>